.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

h5 {
  font-weight: 300 !important;
}

h6 {
  font-weight: 300 !important;
}

.logged-in-container {
  max-width: none !important;
}

@media (min-width: 1280px) {
  .logged-in-container {
    width: calc(100% - 250px) !important;
  }
}
