.app-bar-logo {
  margin-right: 4px;
}

.app-bar-title {
  flex-grow: 1;
}

.app-bar-buttons {
  display: flex;
}

@media (max-width: 600px) {
  .app-bar-buttons {
    display: none;
  }
}

.drawer-sign-up-button-light {
  color: #fff;
}

.drawer-sign-up-button-dark {
  color: rgba(0, 0, 0, 0.87);
}
